@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;  
}

img{
    width: 100vw;
}

body > a{
    display: block;
    padding: 20px;
    text-align: center;
    background-color: darkred;
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: red;
}

