@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed ;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh; 
}

section#celular{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-image: url(../imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 21px;

    width: 265px;
    height: 469px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.692);
    transform: translate(-3px, -3px);
    transition: 0.2s;
    box-shadow: 4px 4px 10px black;
}