@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: black;
}

main{
    position: relative;

    width: 100vw;
    height: 100vh;

    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

section#celular{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-image: url(../imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
}

section#celular > iframe{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 269px;
    height: 476px;

    
}

section#redesocial{
    text-align: center;
}

section#redesocial img{
    margin-top: 25px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 1px 1px 10px black;
    margin-left: 10px;
    margin-right: 10px;
}

section#redesocial img:hover{
    border: 1.5px solid white;
    transform: translate(-3px, -3px);

    transition: .6s;
    
}



